<template>
  <svg
    width="24px"
    height="24px"
    viewBox="0 0 24 24"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <!-- Generator: Sketch 60 (88103) - https://sketch.com -->
    <title>nav/icons/selected/latest</title>
    <desc>Created with Sketch.</desc>
    <defs>
      <circle id="path-1" cx="12" cy="12" r="12" />
    </defs>
    <g
      id="nav/icons/selected/latest"
      stroke="none"
      stroke-width="1"
      fill="none"
      fill-rule="evenodd"
    >
      <mask id="mask-2" fill="white">
        <use xlink:href="#path-1" />
      </mask>
      <use id="Mask-Copy" fill="white" xlink:href="#path-1" />
      <path
        d="M-2.5,16.5 L-2.5,8.5 L1.40608203,8.5 C2.13039225,8.5 2.6839639,8.56548366 3.06681359,8.69645293 C3.44966328,8.82742221 3.75835277,9.07025744 3.99289131,9.42496589 C4.22742986,9.77967435 4.34469738,10.2116846 4.34469738,10.7210095 C4.34469738,11.1648499 4.25502222,11.5477474 4.07566921,11.8697135 C3.8963162,12.1916796 3.64970952,12.4527048 3.33584175,12.6527967 C3.13579417,12.780128 2.86159513,12.8856294 2.5132364,12.9693042 C2.7926132,13.0675312 2.99610683,13.1657567 3.12372339,13.2639836 C3.2099508,13.3294683 3.33497867,13.4695305 3.49881074,13.6841746 C3.66264281,13.8988187 3.77214998,14.0643468 3.82733552,14.180764 L4.96035799,16.5 L2.31146528,16.5 L1.05944958,14.0552524 C0.900791151,13.7387433 0.759380324,13.5331974 0.635212857,13.4386085 C0.466207139,13.3149153 0.274785166,13.2530696 0.0609411954,13.2530696 L-0.146003548,13.2530696 L-0.146003548,16.5 L-2.5,16.5 Z M-0.146003548,11.7414734 L0.842157601,11.7414734 C0.949079586,11.7414734 1.15602226,11.7050936 1.46299183,11.6323329 C1.61820116,11.5995906 1.74495355,11.515917 1.8432528,11.3813097 C1.94155204,11.2467024 1.99070092,11.0920882 1.99070092,10.9174625 C1.99070092,10.659162 1.91309742,10.460892 1.75788809,10.3226467 C1.60267876,10.1844013 1.31123449,10.1152797 0.883546549,10.1152797 L-0.146003548,10.1152797 L-0.146003548,11.7414734 Z M5.33558643,8.5 L11.1300392,8.5 L11.1300392,10.2189632 L7.68958289,10.2189632 L7.68958289,11.6159618 L10.6281982,11.6159618 L10.6281982,13.2312415 L7.68958289,13.2312415 L7.68958289,16.5 L5.33558643,16.5 L5.33558643,8.5 Z M15.6752043,15.1793997 L13.0056171,15.1793997 L12.6382902,16.5 L10.2429048,16.5 L13.0935686,8.5 L15.6493362,8.5 L18.5,16.5 L16.0477048,16.5 L15.6752043,15.1793997 Z M15.1837105,13.4495225 L14.3455843,10.5736698 L13.5126317,13.4495225 L15.1837105,13.4495225 Z"
        id="RFA-Copy"
        fill="#000000"
        fill-rule="nonzero"
        mask="url(#mask-2)"
      />
    </g>
  </svg>
</template>

<script>
export default {
  name: "logoInverted"
};
</script>

<style scoped>
g path {
  fill: currentColor !important;
}
</style>