<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="manifest" href="./manifest.json"/>
    <title>RFA</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Material+Icons">
  
    <meta name="mobile-web-app-capable" content="yes">
  
    <!-- META tags to tell ios and edge this is a PWA -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="RFA">
    <meta name="msapplication-TileImage" content="./img/icons/mstile-150x150.png">
    <meta name="msapplication-TileColor" content="#000">
    <link rel="apple-touch-icon" href="./img/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./img/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./img/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./img/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./img/icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./img/icons/apple-touch-icon-180x180.png">

  </head>
  <body>
    <noscript>
      <strong>We're sorry but the app doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
