:root {
    --v-item-gutter-v: 24px;
    --v-item-gutter-h: 16px;
}

/* Text colors */
.featuredHeadline,
.smallHeadline,
.feedTitle,
.storyText
{
    color: var(--v-primary-base);
}
.date {
    color: var(--v-secondary-base);
}

.topic {
    color: var(--v-accent-base);
}

.topic.featured {
    color: white;
}

/* End colors */

.topic {
    margin-bottom: 8px;
}

.pullquote {
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #666666;
    border-top: 2px solid #cccccc;
    border-bottom: 2px solid #cccccc;
    text-align: center;
    font-family: "PT Serif", serif, var(--v-theme-font);
    font-size: var(--v-theme-title-featured-font-size);
    line-height: var(--v-theme-title-featured-line-height);
}

.pullquote::before {
    position: relative;
    margin-top: calc(-20px + -0.5 * var(--v-theme-title-featured-line-height-px));
    width: var(--v-theme-title-featured-line-height-px);
    height: var(--v-theme-title-featured-line-height-px);
    left: calc(50% - calc(0.5 * var(--v-theme-title-featured-line-height-px)));
    align-self: center;
    justify-self: center;
    display: block;
    content: " ";
    background: url('../format_quote-24px.svg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.itemList:last-child {
    margin-bottom: var(--v-item-gutter-v) !important;
}

/* Item margins */
.item1col, .item1coltitle, .item2colleft, .item2colright {
    margin: 0px;
}

/* Item paddings, t,r,b,l */
/* Note: the 4px dimension below is because for 1 col items, the bottom of the image is actually 4px
above the bottom of the view (to make the date fit properly). We want to compensate for that, so
subtract 4 px from the padding */
.item1col {
    padding: calc(var(--v-item-gutter-v) - 4px) var(--v-item-gutter-h) 0 var(--v-item-gutter-h);
}

.item2colleft {
    padding: var(--v-item-gutter-v) calc(var(--v-item-gutter-v) / 2) 4px var(--v-item-gutter-h);
}

.item2colright {
    padding: var(--v-item-gutter-v) var(--v-item-gutter-h) 4px calc(var(--v-item-gutter-v) / 2);
}

.item1coltitle {
    /*
    Column title paddings is handled inside ItemCategoryTitle.vue.
    padding: 60px var(--v-item-gutter) var(--v-item-gutter) var(--v-item-gutter);
    */
    padding: 0;
}

.item1coltitlecategory {
    /* Add extra padding to top */
    padding: var(--v-item-gutter-v) 0 0 0;
}

.itemPlayButton {
    width: 32px;
    height: 32px;
    background-color: transparent;
}

.itemPlayButtonIcon {
    filter: drop-shadow(1px 1px 1.5px #2d2d2d);
}

.itemPlayButtonLarge {
    width: 46px;
    height: 46px;
    background-color: transparent;
}

.itemPlayButtonLarge .v-btn__content svg {
    width: 44px !important;
    height: 44px !important;
}

.settingsCategory {
    color: black;
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-title-featured-font-size);
    font-weight: 700;
    line-height: var(--v-theme-title-featured-line-height);
}

.settingsSmallFontA {
    font-size: 12px;
}

.settingsLargeFontA {
    font-size: 20px;
}

.appVersionText {
    text-align: center;
    color: #e2e2e2;
}

.featuredHeadline6lines {
    max-height: calc(6 * var(--v-theme-title-featured-line-height));
    overflow: hidden;
}

.smallHeadline1line {
    max-height: var(--v-theme-title-line-height-px);
    overflow: hidden;
}

.smallHeadline2lines {
    max-height: calc(2 * var(--v-theme-title-line-height-px));
    overflow: hidden;
}

.smallHeadline4lines {
    max-height: calc(4 * var(--v-theme-title-line-height-px));
    overflow: hidden;
}

.storyText1line {
    max-height: var(--v-theme-line-height-scaled);
    overflow: hidden;
}

.storyText2lines {
    max-height: calc(2 * var(--v-theme-line-height-scaled));
    overflow: hidden;
}
