:root {
    --v-theme-font: 'Noto Sans CJK TC', 'Roboto', sans-serif;
    --v-theme-font-size: 17px;
    --v-theme-line-height: 1.7;
    --v-theme-title-font-size: 17px;
    --v-theme-title-line-height: 1.25;
    --v-theme-title-featured-font-size: 27px;
    --v-theme-title-featured-line-height: 1.3;
    --v-theme-date-font-size: 12px;
}

.featuredHeadline {
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-title-featured-font-size);
    font-weight: 500;
    line-height: var(--v-theme-title-featured-line-height);
    letter-spacing: 2px;
}

.smallHeadline {
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-title-font-size);
    font-weight: 500;
    line-height: var(--v-theme-title-line-height);
    letter-spacing: 0.5px;
}

.date, .feedTitle, .topic {
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-date-font-size);
    line-height: 1;
    letter-spacing: 1px;
    font-weight: 300;
}

.storyText {
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-font-size-scaled);
    line-height: var(--v-theme-line-height-scaled);
    font-weight: 300;
}

.topic {
    font-weight: 700;
}

.topicTitle {
    font-family: var(--v-theme-font);
    font-size: 18px;
    line-height: 1;
}