<template>
  <v-content>
    <div>
      <h3>Onboarding</h3>
    </div>
    <div class="mt-2 mb-0 ml-4 mr-4" v-for="service in services" :key="service.value">
      <v-btn block :color="selected == service.value ? 'accent' : '#efefef'" @click="selected = service.value">{{ service.name }}</v-btn>
    </div>
    <div class="ma-4">
      <v-btn block color="primary" @click="useConfig(selected)">{{ $t("GO") }}</v-btn>
    </div>
  </v-content>
</template>

<script>

import flavors from '../config';

export default {
  name: "Onboarding",
  data() {
    return {
      selected: "english"
    };
  },
  mounted() {
    if (this.language.startsWith("ug")) {
      this.selected = "uyghur";
    } else if (this.language.startsWith("zh")) {
      this.selected = "mandarin";
    } else if (this.language.startsWith("zh-hk")) {
      this.selected = "cantonese";
    } else if (this.language.startsWith("my")) {
      this.selected = "burmese";
    } else if (this.language.startsWith("lo")) {
      this.selected = "lao";
    } else if (this.language.startsWith("ko")) {
      this.selected = "korean";
    } else if (this.language.startsWith("km")) {
      this.selected = "khmer";
    } else if (this.language.startsWith("vi")) {
      this.selected = "vietnamese";
    } else if (this.language.startsWith("bo")) {
      this.selected = "tibetan";
    }
  },
  computed: {
    services() {
      return Object.keys(flavors).map(function(key) {
        return { name: flavors[key].name, value: key };
      });
    },
    language: function() {
      var lang = navigator.language || navigator.userLanguage;
      return lang.toLowerCase();
    }
  },
  methods: {
    useConfig(config) {
      this.$logger.logLanguageSelect(config, false);
      this.$store.commit("setFlavor", config);
      this.done();
    },

    done() {
      this.$root.onboarded = true;
      this.$root.$router.replace("/");
    }
  }
};
</script>

<style scoped>
@import url("../assets/css/item-style.css");
</style>