<template>
  <div class="mainRoot" :style="cssProps">
    <v-app-bar flat absolute class="transparentAppBar">
      <v-app-bar-nav-icon>
        <v-icon color="#1B9739">$vuetify.icons.logo</v-icon>
      </v-app-bar-nav-icon>
      <v-spacer />
      <v-toolbar-title
        :class="{'feedTitle': true, 'text-uppercase': true}"
      >{{ $store.state.currentFeedTitle }}</v-toolbar-title>
    </v-app-bar>

    <div class="audioItemList">
      <PlayControllerAudio
        v-if="!showNoLive"
        :isLive="$root.mediaPlayerItem && $root.mediaPlayerItem.isLive"
        :showCloseMinimizeButtons="false"
        :item="$root.mediaPlayerItem"
        v-on:close="onClose()"
        v-on:minimize="onMinimize()"
        v-on:maximize="onMaximize()"
        v-on:openFullscreen="itemClicked($event)"
      />
      <!-- NO LIVE AUDIO CONTAINER -->
      <div v-else>
      <v-container
        class="text-center overlayControls"
        style="pointer-events: none;height: var(--v-audio-player-height);overflow: hidden;"
        fluid fill-height
      >
        <v-row align="center" justify="center">
          <v-col>
            <div class="storyText" style="color:black">{{ $t('no_live_show') }}</div>
          </v-col>
        </v-row>
      </v-container>
      </div>

      <div class="radioListBottomPart" style="background-color: var(--v-audioCardBackground-base)">
        <!-- Live item -->
        <AudioItemLive
          v-if="liveBroadcastOn"
          :ref="liveItem.guid"
          :disabled="!liveBroadcastOn"
          class="ma-0 audioListRadioLiveItem"
          :item="liveItem"
          :isSelected="liveItem == $root.mediaPlayerItem"
          v-on:itemClicked="playItemFromMediaList($event)"
          v-on:playItem="playItemFromMediaList($event)"
        />
        <!-- Divider, if live item shown -->
        <div class="listDivider" />

        <div class="audioListRadioList">
          <ItemListAudio
            class="scrollY"
            :items="audioFeedItems"
            :selectedItem="$root.mediaPlayerItem"
            v-on:playItem="playItemFromMediaList($event)"
            v-on:itemClicked="playItemFromMediaList($event)"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Home from "./Home";
import ItemListAudio from "../components/ItemListAudio";
import ItemModel from "../models/itemmodel";
import PlayControllerAudio from "../components/PlayControllerAudio";
import AudioItemLive from "../components/AudioItemLive";

export default {
  name: "Radio",
  extends: Home,
  components: {
    ItemListAudio,
    PlayControllerAudio,
    AudioItemLive
  },
  data: () => ({
    liveItem: new ItemModel()
  }),
  methods: {
    playLiveRadio() {
      if (this.liveItem.enclosure == null || this.liveItem.enclosure == "") {
        console.log("Radio: no url!");
        return;
      }
      console.log("Play radio from: " + this.liveItem.enclosure);
      this.$root.mediaPlayerDocked = false;
      this.playItemFromMediaList({ item: this.liveItem });
    }
  },

  destroyed() {
    if (this.storeWatchObject != null) {
      console.log("Radio destroyed, stop listening");
      this.storeWatchObject();
      this.storeWatchObject = null;
    }
  },

  mounted() {
    this.liveItem = new ItemModel();
    this.liveItem.guid = "LiveItemGuid";
    this.liveItem.isLive = true;
    this.liveItem.title = this.$t("live_radio_show");
    this.liveItem.enclosureType = "audio/mpeg";
    if (this.$store.state.liveRadio != null) {
      this.liveItem.enclosure = this.$store.state.liveRadio.url;
      this.liveItem.enclosureDuration = this.$store.state.liveRadio.duration;
    }

    this.playLiveRadio();
    this.storeWatchObject = this.$store.watch(
      state => state.liveRadio,
      // eslint-disable-next-line
      (newValue, oldValue) => {
        if (
          oldValue != null &&
          newValue != null &&
          oldValue.url == newValue.url
        ) {
          return; // No change
        }
        console.log(
          "Live radio url updated from " + oldValue + " to " + newValue
        );
        if (newValue != null) {
          this.liveItem.enclosure = newValue.url;
          this.liveItem.enclosureDuration = newValue.duration;
        } else {
          this.liveItem.enclosure = null;
          this.liveItem.enclosureDuration = 0;
        }
        if (newValue == null) {
          // Stop radio
          console.log("Stop radio");
          this.$root.mediaPlayerItem = null;
        } else {
          this.playLiveRadio();
        }
      }
    );
  },

  computed: {
    showNoLive() {
      return (
        (this.$root.mediaPlayerItem == null ||
          (this.$root.mediaPlayerItem && this.$root.mediaPlayerItem.isLive)) &&
        !this.liveBroadcastOn
      );
    },
    audioFeedItems() {
      if (this.$store.state.currentFeedAudio != null) {
        return this.$store.state.currentFeedAudio.items;
      }
      return [];
    },
    liveBroadcastOn() {
      return (
        this.liveItem != null &&
        this.liveItem.enclosure != null &&
        this.liveItem.enclosure != ""
      );
    },
    playerObject() {
      if (this.$root.mediaPlayer != null) {
        console.log("Return shared player");
        return this.$root.mediaPlayer;
      }
      return null;
    }
  },

  watch: {
    $route: function(to, ignoredFrom) {
      if (this.thisRouteName == to.name) {
        console.log("Radio Shown");
        this.playLiveRadio();
      }
    }
  }
};
</script>

<style scoped>
@import url("../assets/css/item-style.css");
@import url("../assets/css/shared-styles.css");

.radioListBottomPart {
  position: absolute;
  top: var(--v-audio-player-height);
  bottom: 0;
  right: 0;
  left: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.audioListRadioList {
  flex-grow: 1;
  overflow-y: hidden;
  overflow-x: hidden;
}

.audioListRadioLiveItem {
  flex-grow: 0;
  border-top: 1px solid #d8d8d8;
}

.scrollY {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.overlayControls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
</style>
