<template>
  <v-app>

    <!-- TOAST FOR WHEN APP WAS UPDATED -->
    <v-snackbar
        v-model="showAppUpdatedToast"
        :timeout="showAppUpdatedToastTimeout"
        top
        @click="showAppUpdatedToast = false"
      >{{ $t('app_updated_to_version', { version: $root.appVersionString }) }}</v-snackbar>

    <router-view />

    <!-- If a process of some sort is ongoing (i.e. can be cancelled) show a progress spinner! -->
    <v-container
      v-if="processCancelCallback != null"
      fill-height
      fluid
      class="processingView white--text"
      @click="processCancelCallback"
    >
      <v-row align="center" justify="center">
        <v-container fluid class="white--text">
          <v-row align="center" justify="center">
            <div class="lds-ring">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </v-row>
          <v-row align="center" justify="center">
            <div class="processingText">{{processTitle}}</div>
          </v-row>
        </v-container>
      </v-row>
    </v-container>
  </v-app>
</template>

<script>
import flavors from "./config";
import rssparser from "./services/rssparser";
import radioparser from "./services/radioparser";
import moment from "moment";
import axios from "axios";
import Printer from "./services/printer";
import MediaCache from "./mediacache";

var pdfMake = require("pdfmake/build/pdfmake.js");
var pdfFonts = require("pdfmake/build/vfs_fonts.js");
pdfMake.vfs = pdfFonts.pdfMake.vfs;

//var basePath = "https://d1etx38uhdqscl.cloudfront.net";
var basePath = "https://www.rfa.org";

document.documentElement.style.setProperty("--v-scale-factor", 1);

// Make sure Array.isArray is defined
if (!Array.isArray) {
  Array.isArray = function(arg) {
    return Object.prototype.toString.call(arg) === "[object Array]";
  };
}

if (!String.hashCode) {
  console.log("Defining a hash function");
  String.hashCode = function(str) {
    var hash = 0,
      i = 0,
      len = str.length;
    while (i < len) {
      hash = ((hash << 5) - hash + str.charCodeAt(i++)) << 0;
    }
    return hash + 2147483647 + 1;
  };
}

export default {
  name: "App",
  components: {},
  mounted() {
    console.log("App mounted");
    if (this.$store.state.onboarded) {
      this.$logger.logAppLoad();
    } else {
      this.$logger.logAppFirstLoad();
    }
    
    const self = this;
    this.storeWatchObject = this.$store.watch(
      state => state.flavor,
      (ignoredNewValue, ignoredOldValue) => {
        console.log("Flavor is changing");
        this.updateFlavor();
      }
    );
    this.storeWatchObjectTextSize = this.$store.watch(
      state => state.textSizeAdjustment,
      (newValue, ignoredOldValue) => {
        this.textSizeUpdated(newValue);
      }
    );
    this.storeWatchObjectFullScreenItemIndex = this.$store.watch(
      state => state.fullScreenItemIndex,
      (newValue, ignoredOldValue) => {
        if (newValue != -1) {
          const item = self.$store.state.fullScreenItems[newValue];
          this.$logger.logArticleView(item);
        }
      }
    );
    this.storeWatchFullScreenVideo = this.$store.watch(
      state => state.showingFullScreenVideo,
      (newValue, ignoredOldValue) => {
        if (newValue) {
          document.body.classList.add(["fullscreenVideo"]);
        } else {
          document.body.classList.remove(["fullscreenVideo"])
        }
      }
    );
    this.updateFlavor();
    this.textSizeUpdated(this.$store.state.textSizeAdjustment);
    document.addEventListener("swUpdated", this.showAppUpdated);
  },

  beforeDestroy() {
    this.stopRadioScheduleTimer();
    document.removeEventListener("swUpdated", this.showAppUpdated);
  },

  destroyed() {
    if (this.storeWatchObject != null) {
      this.storeWatchObject();
      this.storeWatchObject = null;
    }
    if (this.storeWatchObjectFullScreenItemIndex != null) {
      this.storeWatchObjectFullScreenItemIndex();
      this.storeWatchObjectFullScreenItemIndex = null;
    }
    if (this.storeWatchObjectTextSize != null) {
      this.storeWatchObjectTextSize();
      this.storeWatchObjectTextSize = null;
    }
    if (this.storeWatchFullScreenVideo != null) {
      this.storeWatchFullScreenVideo();
      this.storeWatchFullScreenVideo = null;
    }
  },

  data() {
    return {
      processCancelCallback: null,
      processTitle: "Working, please wait...",
      showAppUpdatedToast: false,
      showAppUpdatedToastTimeout: 5000
    };
  },

  methods: {
    showAppUpdated(ignoredEvent) {
      var newVersion = this.$root.appVersionString;
      var oldVersion = this.$store.state.currentAppVersion;
      this.$store.commit("setCurrentAppVersion", newVersion);
      if (oldVersion != null && newVersion != oldVersion) {
        // Log version updated
        this.$logger.logAppUpdated();
        this.showAppUpdatedToast = true;
      }
    },

    shareItem(item) {
      console.log("Share item: " + item.title);
      let link = item.link;
      if (link != null && link.startsWith("https://")) {
        console.log(item.link);
        if (navigator.share) {
          navigator
            .share({
              title: item.title,
              url: link
            })
            .then(() => {
              console.log("Thanks for sharing!");
            })
            .catch(console.error);
        } else {
          // fallback
        }
      }
    },

    shareItemFacebook(item) {
      let link = item.link;
      if (link != null && link.startsWith("https://")) {
        let fbLink = "https://www.facebook.com/sharer.php?u=" + encodeURI(link);
        console.log("Open new tab to: " + fbLink);
        window.open(fbLink, "_blank");
      }
    },

    blobToBase64(blob, callback) {
      var reader = new FileReader();
      reader.onload = function() {
        var dataUrl = reader.result;
        var base64 = dataUrl.split(",")[1];
        callback(base64);
      };
      reader.readAsDataURL(blob);
    },

    downloadMedia(item) {
      if (item.enclosure != null) {
        MediaCache.getMedia(item.enclosure, true, function(url) {
          const link = document.createElement("a");
          link.href = url;
          link.download = item.title || "Download";
          link.click();
          MediaCache.releaseMedia(url);
        }, function() {
          this.$logger.logArticleDownload(item, item.hasVideoAttachment() ? "video" : "audio");
        }.bind(this));
      }
    },

    printItem(item) {
      this.$logger.logArticleDownload(item, "article");
      var canceled = false;
      const doPrint = function(fonts, vfs) {
        if (canceled) {
          return;
        }
        new Printer(item, function(docDefinition) {
          if (fonts != null) {
            for (const styleName in docDefinition.styles) {
              var style = docDefinition.styles[styleName];
              style.font = "pdfFont";
            }
            docDefinition.defaultStyle = docDefinition.defaultStyle || {};
            Object.assign(docDefinition.defaultStyle, { font: "pdfFont" });
          }
          fonts = fonts || {};
          fonts.Roboto = {
            normal: "Roboto-Regular.ttf",
            bold: "Roboto-Medium.ttf",
            italics: "Roboto-Italic.ttf",
            bolditalics: "Roboto-MediumItalic.ttf"
          };
          vfs = vfs || {};
          Object.assign(vfs, pdfMake.vfs);
          docDefinition.info = {
            title: item.title
          };
          pdfMake
            .createPdf(docDefinition, null, fonts, vfs)
            .download(item.title + ".pdf");
        });
      };

      const self = this;

      // Need to download fonts?
      let flavor = flavors[this.$store.state.flavor];
      if (flavor && flavor.printFont) {
        // Need to download the font, convert that to base64 and
        // put it in a "Virtual File System" so that PDFMake can
        // use it!
        this.processCancelCallback = function() {
          canceled = true;
          self.processCancelCallback = null;
        };

        axios
          .get(flavor.printFont, {
            responseType: "blob"
          })
          .then(function(response) {
            return response.data;
          })
          .then(function(blob) {
            self.blobToBase64(blob, function(base64data) {
              const vfs = {
                "pdffont.ttf": base64data
              };
              const fonts = {
                pdfFont: {
                  normal: "pdffont.ttf",
                  bold: "pdffont.ttf",
                  italics: "pdffont.ttf",
                  bolditalics: "pdffont.ttf"
                }
              };
              self.processCancelCallback = null;
              doPrint(fonts, vfs);
            });
          })
          .catch(function(ignoredThrown) {
            self.processCancelCallback = null;
          });
      } else {
        // No font specificed!
        doPrint(null, null);
      }
    },

    updateFlavor() {
      if (!this.$store.state.onboarded) {
        console.log("SET FLAVOR - Not yet onboarded!");
        return;
      }
      console.log("SET FLAVOR TO " + this.$store.state.flavor);
      var flavor = flavors[this.$store.state.flavor];
      if (flavor === undefined) {
        flavor = flavors["english"];
      }

      // Set locale for translations
      this.$i18n.locale = flavor.localeName;

      // Set RTL from config
      this.$vuetify.rtl = flavor.isRTL;

      // Insert link to font style sheet so the web font loader will find the fonts.
      if (flavor.webFontCssFile != "") {
        var file = document.getElementById("fontThemeLink");
        if (file == null) {
          console.log("Theme link not found, creating!");
          file = document.createElement("link");
          file.id = "fontThemeLink";
          document.head.appendChild(file);
        } else {
          console.log("Theme link found, reusing");
        }
        file.rel = "stylesheet";
        file.type = "text/css";
        file.href = flavor.webFontCssFile;
      }

      // Insert language specific CSS file
      var cssFile =
        flavor.cssFile !== undefined
          ? flavor.cssFile
          : "./assets/css/default.css";
      var cssThemeLink = document.getElementById("cssThemeLink");
      if (cssThemeLink == null) {
        console.log("CSS link not found, creating!");
        cssThemeLink = document.createElement("link");
        cssThemeLink.id = "cssThemeLink";
        document.head.appendChild(cssThemeLink);
      } else {
        console.log("CSS link found, reusing");
      }
      cssThemeLink.rel = "stylesheet";
      cssThemeLink.type = "text/css";
      cssThemeLink.href = cssFile;

      var WebFont = require("webfontloader");
      WebFont.load(flavor.webFontConfig);

      if (process.env.NODE_ENV === "production") {
        // For production builds, default to first url in config.
        this.serviceUpdated(flavor.services[0]);
      } else {
        //this.serviceUpdated({title: "Nasa Test", url: "./assets/nasa.xml", categories: []});
        // this.serviceUpdated({
        //   title: "Test",
        //   url: "./assets/rss2_main.xml",
        //   categories: []
        // });
        this.serviceUpdated(flavor.services[0]);
      }

      // Remove set radio schedule
      this.$store.commit("setRadioSchedule", null);
      this.$store.commit("setLiveRadio", null);

      // Fetch new radio schedule
      //
      const self = this;
      radioparser.parseSchedule(
        "./assets/radio/schedule.xml",
        this.$store.state.flavor,
        function(broadcasts) {
          self.$store.commit("setRadioSchedule", broadcasts);
          self.startRadioScheduleTimer();
          self.checkLiveRadio();
        }
      );
    },

    checkLiveRadio() {
      var liveRadio = null;
      const broadcastsToday = this.$store.state.radioSchedule;
      if (broadcastsToday != null) {
        for (var i = 0; i < broadcastsToday.length; i++) {
          const broadcast = broadcastsToday[i];

          // TEMP TEMP TEMP
          // broadcast.dayOfWeek = moment().day();
          // broadcast.start = moment().subtract(10, 'seconds').local();
          // broadcast.duration = moment.duration({minutes: 10});
          // broadcast.url = "http://rsstest.rivendellaudio.org/cartslts/000025_000025.mp3";
          
          var dayToday = moment().day();
          var started = moment().isAfter(broadcast.start);
          var notended = moment().isBefore(
            broadcast.start.clone().add(broadcast.duration)
          );

          //console.log("Start at: " + broadcast.start.format());
          if (dayToday == broadcast.dayOfWeek && started && notended) {
            liveRadio = {url: broadcast.url, start: broadcast.start, duration: broadcast.duration.asSeconds()};
            break;
          }
        }
      }
      this.$store.commit("setLiveRadio", liveRadio);
    },

    startRadioScheduleTimer() {
      this.stopRadioScheduleTimer();
      const self = this;
      this.radioScheduleTimer = setInterval(() => {
        self.checkLiveRadio();
      }, 20000);
    },

    stopRadioScheduleTimer() {
      if (this.radioScheduleTimer != null) {
        clearInterval(this.radioScheduleTimer);
      }
      this.radioScheduleTimer = null;
    },

    textSizeUpdated(adjustment) {
      let factor = 1 + ((adjustment > 0 ? 0.4 : 0.2) * adjustment) / 100;
      document.documentElement.style.setProperty("--v-scale-factor", factor);
    },

    serviceUpdated(service) {
      const self = this;
      self.$store.commit("setCurrentFeedTitle", "");
      self.$store.commit("setCurrentFeedItems", null);
      self.$store.commit(
        "clearCategories",
        service.categories != null ? service.categories.length : 0
      );
      rssparser.fetchUrl(basePath + service.url, function(feed, items) {
        self.$store.commit("setCurrentFeedTitle", feed.title);
        self.$store.commit("setCurrentFeedItems", items);
        if (service.categories != null) {
          for (var i = 0; i < service.categories.length; i++) {
            const index = i;
            var category = service.categories[i];
            let url = category.url;
            rssparser.fetchUrl(url, function(feed, items) {
              //              var catTitle = feed.category;
              var catTitle = feed.title;
              if (catTitle == null || catTitle.length == 0) {
                catTitle = "Category " + (index + 1);
              }

              // Mark all items with this category!
              if (items != null) {
                for (var i = 0; i < items.length; i++) {
                  const item = items[i];
                  item.category = catTitle;
                }
              }

              self.$store.commit("addCategoryItems", {
                category: catTitle,
                index: index,
                feed: feed,
                items: items
              });
            });
          }
        }

        // Do we have an audio feed?
        if (service.audioFeedUrl != null) {
          let url = service.audioFeedUrl;
          rssparser.fetchUrl(url, function(feed, items) {
            self.$store.commit("setCurrentFeedAudio", {
              feed: feed,
              items: items
            });
          });
        }
      });
    }
  },

  computed: {
    flavorName() {
      return this.$store.state.flavor;
    }
  }
};
</script>

<style>
@import url("./assets/css/sizes.css");

body {
  -webkit-user-select: none;
}

.updateAvailable {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  background-color: rgba(243, 236, 169, 0.856);
  z-index: 90;
}

.updateAvailableTitle {
  font-size: 13px;
}

.updateAvailableSubTitle {
  font-size: 8px;
}

.processingView {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
}

.processingContainer {
  height: 80%;
  width: 50%;
  margin: auto auto;
}

/* From https://loading.io/css/ */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
