@font-face {
    font-family: 'NanumGothic';
    src: url('NanumGothic-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'NanumGothic';
    src: url('NanumGothic-Bold.ttf') format('truetype');
    font-weight: bold;
}