@font-face {
    font-family: 'Noto Sans CJK TC';
    src: url('NotoSansCJKtc-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans CJK TC';
    src: url('NotoSansCJKtc-Bold.otf') format('opentype');
    font-weight: bold;
}